#
# /*               "Copyright 2020 Infosys Ltd.
#                Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
#                This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
#
#

spring.application.name=goals

# Hibernate properties
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.show-sql=true

spring.datasource.url=jdbc:postgresql://{{postgresql_host}}:5432/postgres
spring.datasource.username={{postgresql_username_sunbird}}
spring.datasource.password={{postgresql_password_sunbird}}
spring.datasource.driver-class-name=org.postgresql.Driver
spring.devtools.add-properties=true
